menuconfig SEC_MODEM_V1
	bool "Samsung's Mobile Modem Driver with Memory-type Interface Media"
	default n
	---help---
	  Samsung's mobile modem driver with memory-type interface media

config BOOT_DEVICE_SPI
	bool "boot device: SPI"
	depends on SEC_MODEM_V1
	default n

config LINK_DEVICE_MEMORY
	bool "link device: MIPI-LLI"
	depends on SEC_MODEM_V1
	default y

config LINK_DEVICE_LLI
	bool "link device: MIPI-LLI"
	depends on SEC_MODEM_V1
	select LINK_DEVICE_MEMORY
	select MIPI_LLI
	default n

config UMTS_MODEM_SS300
	bool "modem chip: SEC SS300"
	depends on SEC_MODEM_V1
	select BOOT_DEVICE_SPI
	select LINK_DEVICE_LLI
	default n
