# edit here
# def/undef for local target
kalteskt="CONFIG_TARGET_LOCALE_KOR=y CONFIG_MACH_KALTE_KOR_SKT=y \
			CONFIG_TDMB=y CONFIG_TDMB_VENDOR_FCI=y CONFIG_TDMB_FC8080=y CONFIG_TDMB_EBI=y CONFIG_TDMB_SLSI=y \
			CONFIG_SEC_FILE_LEAK_DEBUG=y"
kalteskt_undef="TARGET_LOCALE_EUR"
kaltektt="CONFIG_TARGET_LOCALE_KOR=y CONFIG_MACH_KALTE_KOR_KTT=y \
			CONFIG_TDMB=y CONFIG_TDMB_VENDOR_FCI=y CONFIG_TDMB_FC8080=y CONFIG_TDMB_EBI=y CONFIG_TDMB_SLSI=y \
			CONFIG_SEC_FILE_LEAK_DEBUG=y"
kaltektt_undef="TARGET_LOCALE_EUR"
kaltelgt="CONFIG_TARGET_LOCALE_KOR=y CONFIG_MACH_KALTE_KOR_LGT=y \
			CONFIG_TDMB=y CONFIG_TDMB_VENDOR_FCI=y CONFIG_TDMB_FC8080=y CONFIG_TDMB_EBI=y CONFIG_TDMB_SLSI=y \
			CONFIG_SEC_FILE_LEAK_DEBUG=y"
kaltelgt_undef="TARGET_LOCALE_EUR"
