# CONFIG_MUIC_RUSTPROOF_ON_USER is not set

# CONFIG_SEC_RESTRICT_ROOTING is not set
# CONFIG_SEC_RESTRICT_SETUID is not set
# CONFIG_SEC_RESTRICT_FORK is not set
# CONFIG_SEC_RESTRICT_ROOTING_LOG is not set

CONFIG_DEBUG_PREEMPT=y
CONFIG_DEBUG_RT_MUTEXES=y
CONFIG_DEBUG_SPINLOCK=y
CONFIG_DEBUG_MUTEXES=y
CONFIG_SLUB_DEBUG=y
CONFIG_SLUB_DEBUG_ON=y
# CONFIG_DEBUG_LOCK_ALLOC is not set
CONFIG_DEBUG_ATOMIC_SLEEP=y
CONFIG_MMC_DW_DEBUG=y
CONFIG_BLK_DEV_IO_TRACE=y
#
# Exynos5433 Asv margin test feature
#
CONFIG_ASV_MARGIN_TEST=y
CONFIG_DEBUG_PAGEALLOC=y
CONFIG_PTRACK_DEBUG=y

