#
# Immersion TouchSense Player driver configuration
#
menuconfig VIBETONZ
	tristate "Vibetonz"
	default y
	help
	Say Y to enable Vibetonz support.
	-------------
	-------------
	-------------

config TACTILE_ASSIST
	tristate "Auto Haptic"
	default n
	depends on VIBETONZ

config MOTOR_DRV_MAX77828
	tristate "Maxim MAX77828 motor"
	default n
	depends on MFD_MAX77828

config MOTOR_DRV_MAX77843
	tristate "Maxim MAX77843 motor"
	default n
	depends on MFD_MAX77843

config MOTOR_DRV_MAX77804K
	tristate "Maxim MAX77804K motor"
	default n
	depends on MFD_MAX77804K