source "drivers/hisi/rproc/Kconfig"
source "drivers/hisi/rdr/Kconfig"
source "drivers/hisi/socp/Kconfig"
source "drivers/hisi/ipcm/Kconfig"
source "drivers/hisi/mailbox/Kconfig"
source "drivers/hisi/hifidsp/Kconfig"
source "drivers/hisi/hmpthresholds/Kconfig"
source "drivers/hisi/irq/Kconfig"
source "drivers/hisi/hkadc/Kconfig"
