
#
#  Mediatek LCM driver support list
#

menu "Mediatek LCM driver support"

config CM_N070ICE_DSI_VDO
	bool "Support for LCM cm_n070ice_dsi_vdo"
	default n
	help
	    Select this if you are using "cm_n070ice_dsi_vdo"

config CM_N070ICE_DSI_VDO_MT8135
	bool "Support for LCM cm_n070ice_dsi_vdo_mt8135"
	default n
	help
	    Select this if you are using "cm_n070ice_dsi_vdo_mt8135"
			To config mt8135_evbp1_v2 lcm driver. If choose yes
			cm_n070ice_dsi_vdo_mt8135 lcm driver will be used
			This add for half display issue
config HSD070PFW3_8135
	bool "Support for LCM HSD070PFW3_8135"
	default n
	help
	    Select this if you are using "HSD070PFW3_8135"

config CPT_CLAA101FP01_DSI_VDO
	bool "Support for LCM CPT_CLAA101FP01_DSI_VDO"
	default n
	help
	    Select this if you are using "CPT_CLAA101FP01_DSI_VDO"

config NT35521_WXGA_DSI_VDO_HH060IA
	bool "Support for LCM nt35521_wxga_dsi_vdo_hh060ia"
	default n
	help
	    Select this if you are using "nt35521_wxga_dsi_vdo_hh060ia"

config NT51012_WXGA_DSI_VDO
	bool "Support for LCM nt51012_wxga_dsi_vdo"
	default n
	help
	    Select this if you are using "nt51012_wxga_dsi_vdo"

endmenu
