config TEGRA_NVAVP
	bool "Enable support for Tegra NVAVP driver"
	depends on ARCH_TEGRA && TEGRA_GRHOST
	default n
	help
	  Enables support for the push-buffer mechanism based driver for the Tegra
	  multimedia framework. Exports the Tegra nvavp interface on device node
	  /dev/tegra_avpchannel.

	  If unsure, say N

config TEGRA_NVAVP_AUDIO
	bool "Enable Audio Channel support for Tegra NVAVP driver"
	depends on TEGRA_NVAVP
	default n
	help
	  Enables support for the push-buffer mechanism based driver for the Tegra
	  audio multimedia framework. Exports the Tegra nvavp interface on device node
	  /dev/tegra_audio_avpchannel.

	  If unsure, say N

config TEGRA_NVAVP_REF_DEBUG
	bool "Enable Reference Debugging for Tegra NVAVP driver"
	depends on TEGRA_NVAVP
	default y
	help
	  Enables debugging reference to the NVAVP device in event that NVAVP driver
	  prevents system from going to sleep.

	  If unsure, say N
