menuconfig ODIN_GFX
        tristate "ODIN GFX support"
        depends on ARCH_ODIN
        help
	  GFX driver for ODIN based boards.

config ODIN_GFX_DEBUG_SUPPORT
        bool "Debug support for ODIN GFX"
	default n 
	depends on ODIN_GFX
	help
	  Support for debug output. You have to enable the actual printing
	  with 'debug' module parameter.
