source "drivers/video/odin/dss/Kconfig"
source "drivers/video/odin/odinfb/Kconfig"
source "drivers/video/odin/s3d/Kconfig"
source "drivers/video/odin/hdmi/Kconfig"
source "drivers/video/odin/xdengine/Kconfig"
source "drivers/video/odin/dsscomp/Kconfig"
source "drivers/video/odin/display/Kconfig"
source "drivers/video/odin/gfx/Kconfig"
source "drivers/video/odin/gfx/dualgfx/Kconfig"
