/*
 * LG Electronics Odin SoC
 */

/* 4MB reserve for pstore */
/memreserve/ 0xdd400000 0x00400000;

/ {
	compatible = "lge,odin";
	interrupt-parent = <&gic>;
	#address-cells = <2>;
	#size-cells = <2>;

	clusters {
		#address-cells = <1>;
		#size-cells = <0>;

		cluster0: cluster@0 {
			reg = <0>;
			freqs = <800000 900000 1000000 1100000 1200000 1300000 1400000>;
			cores {
				#address-cells = <1>;
				#size-cells = <0>;

				core0: core@0 {
					reg = <0>;
				};

				core1: core@1 {
					reg = <1>;
				};

				core2: core@2 {
					reg = <2>;
				};

				core3: core@3 {
					reg = <3>;
				};

			};
		};

		cluster1: cluster@1 {
			reg = <1>;
			freqs = <600000 700000 800000 900000 1000000>;
			cores {
				#address-cells = <1>;
				#size-cells = <0>;

				core4: core@0 {
					reg = <0>;
				};

				core5: core@1 {
					reg = <1>;
				};

				core6: core@2 {
					reg = <2>;
				};

				core7: core@3 {
					reg = <3>;
				};
			};
		};
	};

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu0: cpu@0 {
			device_type = "cpu";
			compatible = "arm,cortex-a7";
			reg = <0x000100>;
			cluster = <&cluster1>;
			core = <&core4>;
			clock-frequency = <1000000000>;
			clock-latency = <1000000>;
			cci-control-port = <&cci_control2>;
		};
		cpu1: cpu@1 {
			device_type = "cpu";
			compatible = "arm,cortex-a7";
			reg = <0x000101>;
			cluster = <&cluster1>;
			core = <&core5>;
			clock-frequency = <1000000000>;
			clock-latency = <1000000>;
			cci-control-port = <&cci_control2>;
		};
		cpu2: cpu@2 {
			device_type = "cpu";
			compatible = "arm,cortex-a7";
			reg = <0x000102>;
			cluster = <&cluster1>;
			core = <&core6>;
			clock-frequency = <1000000000>;
			clock-latency = <1000000>;
			cci-control-port = <&cci_control2>;
		};
		cpu3: cpu@3 {
			device_type = "cpu";
			compatible = "arm,cortex-a7";
			reg = <0x000103>;
			cluster = <&cluster1>;
			core = <&core7>;
			clock-frequency = <1000000000>;
			clock-latency = <1000000>;
			cci-control-port = <&cci_control2>;
		};
		cpu4: cpu@4 {
			device_type = "cpu";
			compatible = "arm,cortex-a15";
			reg = <0>;
			cluster = <&cluster0>;
			core = <&core0>;
			clock-frequency = <1400000000>;
			clock-latency = <1000000>;
			cci-control-port = <&cci_control1>;
		};
		cpu5: cpu@5 {
			device_type = "cpu";
			compatible = "arm,cortex-a15";
			reg = <0x000001>;
			cluster = <&cluster0>;
			core = <&core1>;
			clock-frequency = <1400000000>;
			clock-latency = <1000000>;
			cci-control-port = <&cci_control1>;
		};
		cpu6: cpu@6 {
			device_type = "cpu";
			compatible = "arm,cortex-a15";
			reg = <0x000002>;
			cluster = <&cluster0>;
			core = <&core2>;
			clock-frequency = <1400000000>;
			clock-latency = <1000000>;
			cci-control-port = <&cci_control1>;
		};
		cpu7: cpu@7 {
			device_type = "cpu";
			compatible = "arm,cortex-a15";
			reg = <0x000003>;
			cluster = <&cluster0>;
			core = <&core3>;
			clock-frequency = <1400000000>;
			clock-latency = <1000000>;
			cci-control-port = <&cci_control1>;
		};
	};

	timer {
		compatible = "arm,armv7-timer";
		interrupts = <1 13 0xf08>,
			     <1 14 0xf08>;
		clock-frequency = <24000000>;
	};

	syscnt@0c200000 {
		compatible = "LG,odin-syscnt";
		reg = <0 0x0c200000 0 0x10>;
	};

	gic: interrupt-controller@39801000 {
		compatible = "arm,cortex-a15-gic";
		interrupt-controller;
		#interrupt-cells = <3>;
		#address-cells = <0>;
		reg = <0 0x39801000 0 0x1000>,
		      <0 0x39802000 0 0x1000>,
		      <0 0x39804000 0 0x2000>,
		      <0 0x39806000 0 0x2000>;
		interrupts = <1 9 0xf04>;
	};

	cci@39090000 {
		compatible = "arm,cci-400";
		#address-cells = <1>;
		#size-cells = <1>;
		reg = <0 0x39090000 0 0x1000>;
		ranges = <0x0 0x0 0x39090000 0x10000>;

		cci_control1: slave-if@4000 {
			compatible = "arm,cci-400-ctrl-if";
			interface-type = "ace";
			reg = <0x4000 0x1000>;
		};

		cci_control2: slave-if@5000 {
			compatible = "arm,cci-400-ctrl-if";
			interface-type = "ace";
			reg = <0x5000 0x1000>;
		};
	};

	memory-controller {
		compatible = "lge,odin-mc";
		reg = < 0 0x35000000 0 0x1000 >,
		      < 0 0x35010000 0 0x1000 >;
	    interrupts = < 0 104 4 >,
		             < 0 105 4 >;
	};

	cci-pmu@39090000 {
		compatible = "arm,cci-400-pmu";
		reg = <0 0x39099000 0 0x6000>;
		interrupts = <0 207 4>,
				<0 208 4>,
				<0 209 4>,
				<0 210 4>,
				<0 211 4>;
	};

	cci-legacy@39090000 {
		compatible = "arm,cci";
		reg = <0 0x39090000 0 0x10000>;
		interrupts = <0 207 4>,
				<0 208 4>,
				<0 209 4>,
				<0 210 4>,
				<0 211 4>;
	};

	cbr: cbr@2009ff00 {
		compatible = "lge,cbr";
		reg = <0x2009ff00 0x1000>;
	};

	pmu_a15 {
		compatible = "arm,cortex-a15-pmu";
		cluster  = <&cluster0>;
		interrupts = <0 216 4>,
			     <0 217 4>,
			     <0 218 4>,
			     <0 219 4>;
	};

	pmu_a7 {
		compatible = "arm,cortex-a7-pmu";
		cluster  = <&cluster1>;
		interrupts = <0 220 4>,
			     <0 221 4>,
			     <0 222 4>,
			     <0 223 4>;
	};

	odin_pstore {
		compatible = "lge,pstore";
		base = <0xdd400000>;
		size = <0x00400000>;
	};
};
