/* Copyright (c) 2013, Samsung Electronics Corporation. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

/ {
	i2c@39{
		compatible = "i2c-gpio";
		gpios = <&gpd2 6 0 /* sda */
			&gpd2 7 0 /* scl */
			>;
		i2c-gpio,delay-us = <2>;
		#address-cells = <1>;
		#size-cells = <0>;
		status = "okay";

		sii8240tmds@39 {
			compatible = "sii8240,tmds";
			reg = <0x39>; /* 0x72 >> 1 */
			sii8240,client_id = <0x00>;

			interrupts = <2 1 1>;
			interrupt-parent = <&gpf0>;

			sii8240,mhl_reset = <&gpv7 0 0>;
			sii8240,mhl_scl = <&gpd2 7 0>;
			sii8240,mhl_sda = <&gpd2 6 0>;
			sii8240,swing_level = <0x2D>;
		};
		sii8240hdmi@49 {
			compatible = "sii8240,hdmi";
			reg = <0x49>; /* 0x92 >> 1 */
			sii8240,client_id = <0x01>;
		};
		sii8240disc@4D {
			compatible = "sii8240,disc";
			reg = <0x4D>;  /* 0x9A >> 1 */
			sii8240,client_id = <0x02>;
		};
		sii8240tpi@59 {
			compatible = "sii8240,tpi";
			reg = <0x59>;   /* 0xB2 >> 1 */
			sii8240,client_id = <0x03>;
		};
		sii8240cbus@64 {
			compatible = "sii8240,cbus";
			reg = <0x64>;  /* 0xC8 >> 1 */
			sii8240,client_id = <0x04>;
		};
	};

};
