/*
 * SAMSUNG UNIVERSAL5430 board device tree source
 *
 * Copyright (c) 2013 Samsung Electronics Co., Ltd.
 *		http://www.samsung.com
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
*/

/dts-v1/;
#include "exynos5430-kq_common.dtsi"
#include "exynos5430-kq_battery.dtsi"

/ {
	model = "Samsung KQ LTE EUR revision 00 board(EVT1) based on EXYNOS5430 with Intel modem";
	model_info-chip = <5430>;
	model_info-platform = "kqlte";
	model_info-subtype = "kqlte_eur_open";
	model_info-hw_rev = <0>;
	model_info-hw_rev_end = <255>; /* If add new dts file for new hw , it is set to <x>. x is suppored max system revision by this dts */
	compatible = "samsung,KQ LTE EUR,r00", "samsung,exynos5430";

	dwmmc2@15560000 {
		supports-sdr104-mode;
		vmmc-en-gpio = <&gpf3 4 0x1>;
	};

	/* modem_interface_driver: Intel XMM7260 LTE Modem */
	mif_pdata {
		compatible = "sec_modem,modem_pdata";
		status = "okay";
		pinctrl-names = "default";
		pinctrl-0 = <&ap_dump_int &cp_on &pda_active &reset_req_n>;

		mif,name = "xmm7160";	/* xmm7260 */
		mif,modem_net = <0>;
		mif,modem_type = <7>;
		mif,link_types = <0x20>;
		mif,use_handover = <0>;
		mif,ipc_version = <50>;
		mif,num_iodevs = <12>;

		mif,gpio_cp_on = <&gpv6 2 0x1>;
		mif,gpio_reset_req_n = <&gpf1 1 0x1>;
		mif,gpio_cp_reset = <&gpa1 1 0x1>;
		mif,gpio_pda_active = <&gpg2 4 0x1>;
		mif,gpio_phone_active = <&gpa2 3 0xf>;
		mif,gpio_cp_dump_int = <&gpa2 6 0x0>;
		mif,gpio_ap_dump_int = <&gpg1 0 0x1>;

		mif,max_link_channel = <7>;
		mif,max_acm_channel = <3>;

		iodevs {
			io_device_0 {
				iod,name = "umts_ipc0";
				iod,id = <235>;
				iod,format = <0>;
				iod,io_type = <0>;
				iod,links = <0x20>;
				iod,attr = <0x42>;
			};
			io_device_1 {
				iod,name = "umts_rfs0";
				iod,id = <245>;
				iod,format = <2>;
				iod,io_type = <0>;
				iod,links = <0x20>;
				iod,attr = <0x62>;
			};
			io_device_2 {
				iod,name = "umts_boot0";
				iod,id = <0>;
				iod,format = <4>;
				iod,io_type = <0>;
				iod,links = <0x20>;
				iod,attr = <0>;
			};
			io_device_3 {
				iod,name = "multipdp";
				iod,id = <0>;
				iod,format = <5>;
				iod,io_type = <2>;
				iod,links = <0x20>;
				iod,attr = <0x42>;
			};
			io_device_4 {
				iod,name = "umts_router";
				iod,id = <25>;
				iod,format = <1>;
				iod,io_type = <0>;
				iod,links = <0x20>;
				iod,attr = <0x42>;
			};
			io_device_5 {
				iod,name = "umts_csd";
				iod,id = <1>;
				iod,format = <1>;
				iod,io_type = <0>;
				iod,links = <0x20>;
				iod,attr = <0x42>;
			};
			io_device_6 {
				iod,name = "umts_dm0";
				iod,id = <28>;
				iod,format = <1>;
				iod,io_type = <0>;
				iod,links = <0x20>;
				iod,attr = <0>;
			};
			io_device_7 {
				iod,name = "umts_log";
				iod,id = <27>;
				iod,format = <4>;
				iod,io_type = <0>;
				iod,links = <0x20>;
				iod,attr = <0>;
			};
			io_device_8 {
				iod,name = "rmnet0";
				iod,id = <10>;
				iod,format = <7>;
				iod,io_type = <1>;
				iod,links = <0x20>;
				iod,attr = <0x4>;
			};
			io_device_9 {
				iod,name = "rmnet1";
				iod,id = <11>;
				iod,format = <7>;
				iod,io_type = <1>;
				iod,links = <0x20>;
				iod,attr = <0x4>;
			};
			io_device_10 {
				iod,name = "rmnet2";
				iod,id = <12>;
				iod,format = <7>;
				iod,io_type = <1>;
				iod,links = <0x20>;
				iod,attr = <0x4>;
			};
			io_device_11 {
				iod,name = "rmnet3";
				iod,id = <13>;
				iod,format = <7>;
				iod,io_type = <1>;
				iod,links = <0x20>;
				iod,attr = <0x4>;
			};
		}; /* end of iodevs */
	}; /* end of mif_pdata */

	/* modem_interface_driver: Intel XMM7260 LTE Modem */
	linkpm_pdata {
		compatible = "sec_modem,linkpm_pdata";
		status = "okay";

		pinctrl-names = "default";
		pinctrl-0 = <&link_active &link_slavewake>;

		reg = <0x15510000 0x100>, /* EHCI */
		      <0x15530000 0x100>; /* PHY */

		linkpm,gpio_link_active = <&gpf0 5 0x1>;
		linkpm,gpio_link_hostwake = <&gpa1 2 0xf>;
		linkpm,gpio_link_slavewake = <&gpr3 6 0x1>;
		linkpm,gpio_suspend_req = <&gpa2 5 0x1>;

		linkpm,name = "link_pm";
		linkpm,port = <1>;
	};

	pinctrl@10FE0000 {
		cp_on: cp_on {
			samsung,pins = "gpv6-2";
			samsung,pin-function = <1>;
			samsung,pin-con-pdn = <0>;
			samsung,pin-pud-pdn = <0>;
		};
	};

	pinctrl@14CC0000 {
		ap_dump_int: ap_dump_int {
			samsung,pins = "gpg1-0";
			samsung,pin-function = <1>;
			samsung,pin-con-pdn = <3>;
			samsung,pin-pud-pdn = <0>;
		};
		pda_active: pda_active {
			samsung,pins = "gpg2-4";
			samsung,pin-function = <1>;
			samsung,pin-con-pdn = <0>;
			samsung,pin-pud-pdn = <0>;
		};
		link_active: link_active {
			samsung,pins = "gpf0-5";
			samsung,pin-function = <1>;
			samsung,pin-con-pdn = <0>;
			samsung,pin-pud-pdn = <0>;
		};
		reset_req_n: reset_req_n {
			samsung,pins = "gpf1-1";
			samsung,pin-function = <1>;
			samsung,pin-con-pdn = <1>;
			samsung,pin-pud-pdn = <0>;
		};
	};

	pinctrl@15690000 {
		link_slavewake: link_slavewake {
			samsung,pins = "gpr3-6";
			samsung,pin-function = <1>;
			samsung,pin-con-pdn = <3>;
			samsung,pin-pud-pdn = <0>;
		};
	};

	pinctrl@14CC0000 {
		uart2_rts: uart2-rts {
			samsung,pins = "gpd1-3";
			samsung,pin-function = <2>;
			samsung,pin-pud = <0>;
			samsung,pin-con-pdn = <1>;
			samsung,pin-pud-pdn = <0>;
		};

		uart2_cts: uart2-cts {
			samsung,pins = "gpd1-2";
			samsung,pin-function = <2>;
			samsung,pin-pud = <0>;
			samsung,pin-con-pdn = <2>;
			samsung,pin-pud-pdn = <1>;
		};
		uart2_tx: uart2-tx {
			samsung,pins = "gpd1-5";
			samsung,pin-function = <2>;
			samsung,pin-pud = <0>;
			samsung,pin-con-pdn = <2>;
			samsung,pin-pud-pdn = <3>;		};

		uart2_rx: uart2-rx {
			samsung,pins = "gpd1-4";
			samsung,pin-function = <2>;
			samsung,pin-pud = <3>;
			samsung,pin-con-pdn = <2>;
			samsung,pin-pud-pdn = <3>;
		};
	};

	serial@14C30000 {
		pinctrl-0 = <&uart2_rts &uart2_cts &uart2_tx &uart2_rx>;
	};

	pinctrl@14CC0000 {
		spi0_bus: spi0-bus {
			samsung,pin-drv = <3>;
		};
		spi0_cs: spi0-cs {
			samsung,pin-drv = <3>;
		};
	};

	spi_0: spi@14d20000 {
		#address-cells = <1>;
		#size-cells = <0>;
		pinctrl-names = "default";
		pinctrl-0 = <&spi0_bus>;
		pinctrl-1 = <&spi0_cs>;

		STM32F@0 {
			compatible = "ssp,STM32F";
			reg = <0>;
			spi-max-frequency = <5000000>;
			pinctrl-names = "default";
			pinctrl-0 = <&ssp_irq &ssp_irq2 &ssp_ap_int &ssp_reset>;

			gpio-controller;
			#gpio-cells = <2>;
			ssp-irq = <&gpa3 3 0x01>;
			ssp-irq2 = <&gpa3 4 0x00>;
			ssp-ap-int = <&gpa3 7 0x00>;
			ssp-reset = <&gpd4 0 0x00>;
			ssp-acc-position = <7>;
			ssp-mag-position = <7>;
			ssp-sns-combination = <0>;
			ssp-ap-rev = <1>;

			controller-data {
				cs-gpio = <&gpd8 1 0>;
				samsung,spi-feedback-delay = <0>;
				};
			};
	};

	spi_1: spi@14d30000 {
		#address-cells = <1>;
		#size-cells = <0>;
		pinctrl-names = "default";
		pinctrl-0 = <&spi1_bus>;

		audio_codec: wm5110@0 {
			compatible = "wlf,wm5110";
			reg = <0x0>;
			spi-max-frequency = <20000000>;
			interrupts = <4 0 0>;
			interrupt-parent = <&gpa0>;

			gpio-controller;
			#gpio-cells = <2>;

			pinctrl-names ="default";
			pinctrl-0 = <&codec_ctrl>;

			wlf,reset = <&gpv7 3 0>;
			wlf,ldoena = <&gpf0 0 0>;
			wlf,init-mic-delay = <30>;
			wlf,micd-detect-debounce = <300>;
			wlf,micd-bias-start-time = <0x1>;
			wlf,micd-rate = <0x7>;
			wlf,micd-dbtime = <0x1>;
			wlf,micd-timeout = <1000>;
			wlf,micd-force-micbias;
			wlf,micd-ranges = <
				139 226
				295 115
				752 114
				1257 217
			>;

			wlf,micd-configs = <
				0x0 1 0
			>;

			wlf,micbias1 = <2800 0 1 0 0>;
			wlf,micbias2 = <1800 0 1 0 0>;
			wlf,micbias3 = <1800 0 1 0 0>;

			wlf,gpio-defaults = <
				0xA101
				0xA101
				0xA101
				0xA101
				0x8101
			>;

			wlf,gpsw = <0x3>;
			wlf,use-jd-gpio;
			wlf,jd-gpio-nopull;
			wlf,micd-software-compare;
			wlf,micd-open-circuit-declare = <1>;

			wlf,max-channels-clocked = <2 0 0>;
			/* 0:MICVDD 1:MICBIAS1 2:MICBIAS2 3:MICBIAS3 */
			wlf,dmic-ref = <2 1 3 0>;
			/* 1st cell:IN1 2rd cell:IN2 3nd cell:IN3 4th cell:IN4 */
			wlf,inmode = <2 0 2 0>;

			AVDD-supply = <&ldo3_reg>;
			LDOVDD-supply = <&ldo3_reg>;
			DBVDD1-supply = <&ldo3_reg>;

			CPVDD-supply = <&ldo3_reg>;
			DBVDD2-supply = <&ldo3_reg>;
			DBVDD3-supply = <&ldo3_reg>;
			SPKVDDL-supply = <&ldo3_reg>;
			SPKVDDR-supply = <&ldo3_reg>;

			adsps {
				#address-cells = <1>;
				#size-cells = <0>;

				adsp@1100 {
					reg = <0x1100>;
					firmware {
						EDAC {
							wlf,wmfw-file = "edac";
							wlf,bin-file = "edac";
						};
						TRACE {
							wlf,wmfw-file = "trace";
							wlf,compr-caps = <1 8 0x4 1 8000 16000 24000>;
						};
					};
				};
				adsp@1200 {
					reg = <0x1200>;
					firmware {
						TX_NB {
							wlf,wmfw-file = "tx-nb";
						};
						TX_WB {
							wlf,wmfw-file = "tx-wb";
						};
						TX_SWB_INTERVIEW {
							wlf,wmfw-file = "tx-swb";
						};
						TX_SWB_CONVERSATION {
							wlf,wmfw-file = "tx-swb";
						};
					};
				};
				adsp@1300 {
					reg = <0x1300>;
					firmware {
						TX_NB {
							wlf,wmfw-file = "tx-nb";
							wlf,bin-file = "tx-nb";
						};
						TX_WB {
							wlf,wmfw-file = "tx-wb";
							wlf,bin-file = "tx-wb";
						};
						TX_SWB_INTERVIEW {
							wlf,wmfw-file = "tx-swb";
							wlf,bin-file = "tx-swb-interview";
						};
						TX_SWB_CONVERSATION {
							wlf,wmfw-file = "tx-swb";
							wlf,bin-file = "tx-swb-conversation";
						};
						VOICECONTROL {
							wlf,wmfw-file = "ez2-control";
							wlf,bin-file = "ez2-control";
						};
						LPSD {
							wlf,wmfw-file = "ez2-control";
							wlf,bin-file = "lpsd-control";
						};
					};
				};
				adsp@1400 {
					reg = <0x1400>;
					firmware {
						RX_NB {
							wlf,wmfw-file = "rx-anc-nb";
							wlf,bin-file = "rx-anc-nb";
						};
						RX_WB {
							wlf,wmfw-file = "rx-anc-wb";
							wlf,bin-file = "rx-anc-wb";
						};
					};
				};
			};
			controller-data {
				cs-gpio = <&gpd6 3 0>;
				samsung,spi-feedback-delay = <0>;
			};
		};
	};

	pinctrl@10580000 {
		btp_irq: btp-irq {
			samsung,pins = "gpa1-7";
			samsung,pin-function = <0>;
			samsung,pin-pud = <3>;
			samsung,pin-drv = <3>;
		};
		btp_reset: btp-reset {
			samsung,pins = "gpa3-1";
			samsung,pin-function = <1>;
			samsung,pin-pud = <1>;
			samsung,pin-drv = <0>;
		};
	};
	pinctrl@14CC0000 {
		ocp_flag: ocf-flag {
			samsung,pins = "gpf0-3";
			samsung,pin-function = <0>;
			samsung,pin-pud = <3>;
			samsung,pin-drv = <3>;
		};
		btp_ldo: btp-ldo {
			samsung,pins = "gpf4-0";
			samsung,pin-function = <1>;
			samsung,pin-pud = <1>;
			samsung,pin-drv = <0>;
		};
		spi2_bus: spi2-bus {
			samsung,pin-drv = <3>;
		};

		spi2_cs: spi2-cs {
			samsung,pin-drv = <3>;
		};
	};
	spi_2: spi@14d40000 {
		/delete-property/ dma-mode;
		/delete-property/ dmas;
		/delete-property/ dma-names;
		#address-cells = <1>;
		#size-cells = <0>;
		pinctrl-names = "default";
		pinctrl-0 = <&spi2_bus>;

		vfsspi-spi@0 {
			compatible = "vfsspi,vfs61xx";
			reg = <0>;
			spi-max-frequency = <19200000>;
			pinctrl-names = "default";
			pinctrl-0 = <&btp_irq &btp_reset &btp_ldo &ocp_flag>;

			gpio-controller;
			#gpio-cells = <2>;

			vfsspi-sleepPin = <&gpa3 1 0x00>;
			vfsspi-drdyPin = <&gpa1 7 0x00>;
			vfsspi-ldoPin = <&gpf4  0 0x00>;
			/* vfsspi-ocpflag = <&gpf0 3 0x00>; */
			vfsspi-orient = <1>;
			vfsspi-ldocontrol = <1>;
			vfsspi-irqpincon = <2>; /* 1: K3G(5422), 2: KQ(5430) */

			controller-data {
				cs-gpio = <&gpd5 1 0 0 3>;
				samsung,spi-feedback-delay = <0>;
			};
		};
	};

	spi_3: spi@141a0000 {
		fimc-is-spi;
		domain = "cam1";
		samsung,power-domain = <&pd_cam1>;

		#address-cells = <1>;
		#size-cells = <0>;

		fimc_is_spi_0@0 {
			compatible = "samsung,fimc_is_spi0";
			spi-max-frequency = <50000000>;
			reg = <0x0>;

			controller-data {
				cs-gpio = <&gpc0 6 0>;
				samsung,spi-feedback-delay = <0>;
			};
		};
	};

	spi_4: spi@141b0000 {
		fimc-is-spi;
		domain = "cam1";
		samsung,power-domain = <&pd_cam1>;

		#address-cells = <1>;
		#size-cells = <0>;

		spidev@0 {
			#address-cells = <1>;
			#size-cells = <1>;
			compatible = "modem_boot_spi";
			reg = <0x0>;
			spi-max-frequency = <100000>;

			controller-data {
				samsung,spi-feedback-delay = <0>;
				samsung,spi-chip-select-mode = <1>;
			};
		};
	};


	mipi-lli@10F24000 {
		reg = <0x10F24000 0x4000>,
		      <0x10F34000 0x4000>,
		      <0x10FD0000 0x2000>,
		      <0x105C0720 0x4>;
	};

	audio_pdata {
		compatible = "samsung,audio-pdata";

		mic_bias_gpio = <&gpv7 4 0>;
		status = "okay";
	};

	pinctrl@14CC0000 {
		codec_ctrl: codec-ctl {
			samsung,pins ="gpv7-3", "gpv7-4", "gpf0-0";
			samsung,pin-con-pdn =<3>;
		};
	};

	i2c@14E00000 {
		samsung,i2c-sda-delay = <100>;
		samsung,i2c-max-bus-freq = <400000>;
		#address-cells = <1>;
		#size-cells = <0>;
		status = "okay";

		pn547@2b {
			compatible = "pn547";
			reg = <0x29>;

			interrupts = <3 0 0>;
			interrupt-parent = <&gpa1>;

			pn547-en = <&gpf1 4 0>;
			pn547-irq = <&gpa1 3 0>;
			pn547-firmware = <&gpj0 2 0>;
			pn547-clk-req = <&gpa0 0 0xf>;
			pn547-clk-use = <2>;
			pinctrl-names = "default";
			pinctrl-0 = <&fimc_is_ch1_mclk>;
			clock-names = "sclk_isp_sensor1",
						"mout_sclk_isp_sensor1",
						"dout_sclk_isp_sensor1_a",
						"dout_sclk_isp_sensor1_b",
						"gate_top_cam1";
			clocks = <&clock 34>,
					<&clock 3067>,
					<&clock 4092>,
					<&clock 4093>,
					<&clock 2780>;
		};

		fimc_is_fan53555@60 {
			status = "disabled";
		};
	};

	pinctrl@10580000 {
		attn_irq: attn-irq {
			samsung,pins = "gpa3-6";
			samsung,pin-function = <0xf>;
			samsung,pin-pud = <0>;
			samsung,pin-drv = <0>;
		};
		attn_input: attn-input {
			samsung,pins = "gpa3-6";
			samsung,pin-function = <0>;
			samsung,pin-pud = <1>;
			samsung,pin-drv = <0>;
		};
	};

	i2c@14E10000 {
		samsung,i2c-sda-delay = <100>;
		samsung,i2c-max-bus-freq = <400000>;
		status = "okay";
		touchscreen@20 {
			compatible = "synaptics,rmi4";
			reg = <0x20>;
			pinctrl-names = "on_state", "off_state";
			pinctrl-0 = <&attn_irq>;
			pinctrl-1 = <&attn_input>;
			synaptics,irq_gpio = <&gpa3 6 0>;
			synaptics,irq_type = <8200>;
			synaptics,max_coords = <1439 2559>;	/* x y */
			synaptics,num_lines = <29 16>;		/* rx tx */
			synaptics,regulator_dvdd = "tsp_io";
			synaptics,regulator_avdd = "tsp_avdd";
			synaptics,project_name = "KQ";
		};
	};

	fimc_is@14000000 {
		use_vision = <0>;
	};
	fimc_is_companion: fimc_is_companion@14180000 {
		gpios_comp_en = <&gpg1 2 0x1>; /* COMP_EN */
	};

	fimc_is_sensor0: fimc_is_sensor@12100000 {
		gpios_comp_en = <&gpg1 2 0x1>; /* COMP_EN */
	};

	i2c@1c{
		compatible = "i2c-gpio";
		gpios = <&gpd1 2 0 /* sda */
                            &gpd1 3 0 /* scl */
                            >;
		i2c-gpio,delay-us = <2>;
		#address-cells = <1>;
		#size-cells = <0>;
		status = "okay";

		ncp6335b@1c {
			compatible = "ncp6335b";
			reg = <0x1c>;
			ncp6335b,dev_name = "ncp6335b";
		};
	};

	pinctrl@14CC0000 {
		vibetonz_pwm: vibetonz-pwm {
		      samsung,pins = "gpd2-4";
		      samsung,pin-function = <2>;
		      samsung,pin-pud = <0>;
		      samsung,pin-drv = <0>;
	      };
	};
	i2c@14EA0000 {
		samsung,i2c-sda-delay = <100>;
		samsung,i2c-max-bus-freq = <400000>;
		status = "okay";
		max77804@66 {
			status = "disabled";
		};
		max77828@49 {
			compatible = "maxim,max77828";
			reg = <0x49>;
			pinctrl-names = "default";
			pinctrl-0 = <&mfd_irq &vibetonz_pwm>;
			max77828,irq-gpio = <&gpa1 4 1>;
			max77828,wakeup;
			haptic {
				haptic,max_timeout = <10000>;
				haptic,duty = <34500>;
				haptic,period = <38240>;
				haptic,pwm_id = <0>;
				haptic,regulator_name = "VCC_3.0V_MOTOR_AP";
			};
		};
	};

	pinctrl@114B0000 {
		uart_aud_rts: uart-aud-rts {
			samsung,pins = "gpz1-3";
			samsung,pin-function = <2>;
			samsung,pin-pud = <0>;
			samsung,pin-con-pdn = <1>;
			samsung,pin-pud-pdn = <0>;
		};

		uart_aud_cts: uart-aud-cts {
			samsung,pins = "gpz1-2";
			samsung,pin-function = <2>;
			samsung,pin-pud = <0>;
			samsung,pin-con-pdn = <2>;
			samsung,pin-pud-pdn = <0>;
		};

		uart_aud_rx: uart-aud-rx {
			samsung,pins = "gpz1-1";
			samsung,pin-function = <2>;
			samsung,pin-pud = <0>;
			samsung,pin-con-pdn = <2>;
			samsung,pin-pud-pdn = <0>;
		};

		uart_aud_tx: uart-aud-tx {
			samsung,pins = "gpz1-0";
			samsung,pin-function = <2>;
			samsung,pin-pud = <0>;
			samsung,pin-con-pdn = <1>;
			samsung,pin-pud-pdn = <0>;
		};
	};

	serial@11460000 {
		pinctrl-0 = <&uart_aud_rts &uart_aud_cts &uart_aud_rx &uart_aud_tx>;
	};

/*
			samsung,pins = "gpa0-0";

			samsung,pin-function = <2>;
			0 : input, 1 : output 2 : special_function

			samsung,pin-pud = <0>;
			0 : reserved 1 : pull down 2 : reserved 3 : pull up

			samsung,pin-con-pdn = <2>;
			0 : output0 1 : output1 2: input 3: previous state

			samsung,pin-pud-pdn = <0>;
			0 : pull up/down disable 1 : pull down 2 : reserved 3 : pull up
*/

	pinctrl@14CC0000 {
		cfg_en: cfg-en {
			samsung,pins ="gpg1-4";
			samsung,pin-function = <1>;
			samsung,pin-pud = <1>;
			samsung,pin-con-pdn = <3>;
			samsung,pin-pud-pdn = <1>;
		};
	};

	pinctrl@10580000{
		cfg_hostwake: cfg-hostwake {
			samsung,pins = "gpa2-2";
			samsung,pin-function = <0>;
			samsung,pin-pud = <2>;
			samsung,pin-con-pdn = <2>;
			samsung,pin-pud-pdn = <0>;
		};

		cfg_btwake: cfg-btwake {
			samsung,pins = "gpa3-2";
			samsung,pin-function = <1>;
			samsung,pin-pud = <1>;
			samsung,pin-con-pdn = <0>;
			samsung,pin-pud-pdn = <1>;
		};
	};

	bluetooth {
		compatible = "broadcom,bcm4354";

		gpios = <&gpg1 4 0	/*BT_EN*/
				&gpa3 2 0	/*BT_WAKE*/
				&gpa2 2 0xF	/*BT_HOST_WAKE*/ >;

		pinctrl-names = "default";
		pinctrl-0=<&cfg_hostwake &cfg_btwake &cfg_en>;
		status = "okay";
	};

	usb_notifier {
		gpios_redriver_en = <&gpf3 2 0x1>; /* USB3.0_REDRIVER_EN */
	};
};
