/dts-v1/;

#include "tegra124-flounder-generic.dtsi"

/ {
	model = "Flounder";
	compatible = "google,flounder", "nvidia,tegra124";
	nvidia-boardids = "1780:1100:2:B:7","1794:1000:0:A:6";
	#address-cells = <1>;
	#size-cells = <1>;

	chosen {
		bootargs = "tegraid=40.0.0.00.00 vmalloc=256M video=tegrafb console=ttyS0,115200n8 earlyprintk";
		linux,initrd-start = <0x85000000>;
		linux,initrd-end = <0x851bc400>;
	};

	i2c@7000c000 {
		status = "okay";
		clock-frequency = <100000>;

		max17050@36 {
			compatible = "maxim,max17050";
			reg = <0x36>;
		};

		bq2419x: bq2419x@6b {
			compatible = "ti,bq2419x";
			reg = <0x6b>;

			charger {
				regulator-name = "batt_regulator";
				regulator-max-microamp = <3000>;
				watchdog-timeout = <40>;
				rtc-alarm-time = <3600>;
				auto-recharge-time = <1800>;
				consumers {
					c1 {
						regulator-consumer-supply = "usb_bat_chg";
						regulator-consumer-device = "tegra-udc.0";
					};
				};
			};

			vbus {
				regulator-name = "vbus_regulator";
				consumers {
					c1 {
						regulator-consumer-supply = "usb_vbus";
						regulator-consumer-device = "tegra-ehci.0";
					};

					c2 {
						regulator-consumer-supply = "usb_vbus";
						regulator-consumer-device = "tegra-otg";
					};
				};
			};
		};

	};

};

