config SECURE_EXTENSION
        bool "security extension support"
        default n
        help
          Include Security Extension.

config ARCH_HISI
	bool "Hisilicon family"
	select ARCH_HAS_CPUFREQ
	select ARCH_REQUIRE_GPIOLIB
	select ARM_AMBA
	select ARM_GIC
	select CLKDEV_LOOKUP
	select COMMON_CLK
	select GENERIC_CLOCKEVENTS
	select HAVE_CLK
	select HAVE_SMP
	select NO_IOPORT
	select PINCTRL
	select PINCTRL_SINGLE
	select ARCH_HAS_OPP
	select STAGING
	select ARCH_HAS_PASR

	help
	  Support for Hislicon Hi36xx/Hi37xx processor family

config HW_CMDLINE_PARSE
	bool "cmdline parse"
	default y

	help
	  Say 'Y' here if you want to support the cmdline parse

if ARCH_HISI

config ARCH_HI3630FPGA
	bool "Hisilicon Development Board"
	default n

	select ARM_CCI
	select CPU_V7
	select ARM_TIMER_SP804
	help
	  Say 'Y' here if you want to support the Hisilicon Development
	  Board.

config ARCH_HI3630EMULATOR
	bool "Hisilicon Emulator Board"
	default n

	select ARM_CCI
	select CPU_V7
	select ARM_TIMER_SP804
	help
	  Say 'Y' here if you want to support the Hisilicon Development
	  Board.

config ARCH_HI3630
	bool "Hisilicon UDP Board"
	default n

	select ARM_CCI
	select CPU_V7
	select ARM_TIMER_SP804
	help
	  Say 'Y' here if you want to support the Hisilicon Development
	  Board.

config HISI_BUS_SWITCH
	bool "Hisilicon bus switch"
	default n
	help
	  Say 'Y' here if you wanna enable BUS SWITCH Feature.

config HISI_AXI
	bool "Hisilicon axierr irq"
	default n
	help
	Hi3630 axierr irq support


menu "Hisilicon NoC Support"
config HISI_NOC
	bool "Hisilicon NoC support"
	default n
	help
	  NoC driver for Hi36xx

config HISI_NOC_ERR_PROBE
	depends on HISI_NOC
	bool "Hisilicon NoC Error Probe support"
	default n
	help
	  NoC Error Probe driver

config HISI_NOC_TIMEOUT
	depends on HISI_NOC
	bool "Hisilicon NoC Timeout support"
	default n
	help
	  NoC Timeout driver
endmenu

config HI6421_OCP
	bool "Hisilicon chip over current protect"
	default n
	help
	  Say 'Y' here if you want to support the Hisilicon OCP.

config HISI_SIM_HOTPLUG
	bool "support sim hotplug function"
	default n
	help
	  Say 'Y' here if you want to support the SIM HOTPLUG.

config HI3630_LPM3_IPC
	bool "InterProcessor Communication Support"
	default n
	help
          support Acore communication with LPM3

config HISI_LPM3
	bool "Hisilicon LPM3"
	default n
	help
	  Hi3630 lpm3 watchdog driver

config HISI_LPM3_DEBUG
	depends on HISI_LPM3
	depends on HISI_MAILBOX
	bool "Hisilicon LPM3 DEBUG"
	default n
	help
	  Hi3630 lpm3 debug driver

config HISI_REBOOT_TYPE
	bool "Hisilicon reboot type"
	default n
	help
	  Hi3630 reboot type
endif

config EASY_SHELL
       bool "Balong easy shell driver"
       default y
       ---help---
        Driver which call kernel function directly

config HISI_EFUSE
	bool "Hisilicon efuse driver"
	default n
	help
	Hi3630 efuse driver support

config HISI_UDP_BOARDID
	bool "Hisilicon udp board id driver"
	default y
	help
	Hi3630 udp board id driver support
config HIDE_PRODUCT_INFO
	bool "Hide chipset name if not officially announced"
	default n
	help
	Hide chipset name if not officially announced

config HISI_SR_DEBUG
	bool "hisi suspend-resume debug interface"
	depends on PM
	default n
	help
	suspend-resume debug for hisi platform

config HISI_SR_DEBUG_SLEEP
	bool "hisi suspend-resume debug sleep"
	depends on PM
	default n
	help
	suspend-resume debug sleep for hisi platform

config HISI_BALONG_MODEM
	bool "Hisilicon ap+modem config"
	default n
	help
	Hisilicon ap+modem config support.

config HISI_EXTERN_WDT
	bool "Hisilicon extern watchdog"
	default n
	help
	Hi3630 lpm3 extern watchdog driver

config HISI_LPM3_VIEWER
	bool "Hisilicon lpm3 log viewer"
	default n
	help
	Hi3630 lpm3 log viewer driver

config HISI_IRQ_AFFINITY
	bool "Hisilicon irq affinity"
	depends on SMP
	default n
	help
	  Driver for irq affinity recovery in smp system
