#
# Miscellaneous I2C chip drivers configuration
#

menu "Miscellaneous I2C Chip support"

config INPUT_CWSTM32
       tristate "CyWee CWSTM32 Sensor HUB"
       depends on I2C && INPUT
       select INPUT_POLLDEV
       help
         This driver provides support for CWSTM32 Sensor HUB.

endmenu
